@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

* { 
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 28px;
  color: #6a6a6a;
  font-size: 14px;
  background-color: #eff2f1;
}

/* Start of navbar */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0px;
  background-color: #3b5d50;
  z-index: 1030;
}

.furni-brand {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  text-decoration: none;
  margin-right: 1rem;
}

.container {
  width: 100%;
  padding-left: .75rem;
  padding-right: .75rem;
  margin-right: auto;
  margin-left: auto;  
}

.navbar>.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar .furni-brand > span {
  opacity: 0.4;
}

.navbar .nav-hamburger {
  background-image: url("images/hamburger-icon.svg")
}

.navbar .nav-toggler {
  border-color: transparent;
}

.nav-toggler {
  padding: 0.25rem 0.75rem;
  background-color: transparent;
  line-height: 1;
  font-size: 1.25rem;
  border: 1px solid transparent;
}

.nav-hamburger {
  display: block;
  width: 1.5em;
  height: 1.5em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.nav-collapse {
  display: none;
  position: relative;
  flex-basis: 100%;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #3b5d50;
}

#hamburger-toggle:checked + .nav-toggler + .nav-collapse {
  display: block;
}

#hamburger-toggle {
  display: none;
}

/* Start of nav dropdown */

/* */
.dropdown-menu {
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
}

.dropdown-menu li {
  list-style-type: none;

  opacity: 0.5;
  transition: opacity 0.3s;
  padding: 8px 0;
}

.dropdown-menu .active {
  opacity: 1;
}

.dropdown-menu li a {
  color: #fff;
  text-decoration: none;

  padding: 8px 0;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  text-align: right;
  /*transition: all 0.3s;*/ /*  This should work for the fade-out of the underline after
                                hovering off the item, but it doesn't work for some reason  */
}

.dropdown-menu li:hover {
  opacity: 1;
  transition: all 0.4s;
}

/* */
.dropdown-icons {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;

}

.dropdown-icons li {
  list-style-type: none;

  margin-right: 20px;
  padding: 8px 0;
}

.dropdown-icons li img {
  color: #fff;
  text-decoration: none;
  vertical-align: middle;
}

/* End of nav dropdown */

/* Start of hero section */

.hero {
  padding: 98px 0px;
  background-color: #3b5d50;
}

.hero-intro h1 span {
  display: block;
}

.hero-text {
  margin: 0;
  margin-bottom: 1.5rem;
  color: #fff;
  opacity: 0.5;
}

.hero-row {
  margin-left: -12px;
  margin-right: -12px;
}

.first-hero-col {
  padding: 0px 12px;
}

.second-hero-col {
  padding: 0px 12px;
}

.hero-intro {
  margin: 0;
  padding: 24px 0px 0px 0px;
}

.hero-intro h1 {
  margin: 0;
  margin-bottom: 30px;
  font-size: calc(1.375rem + 1.5vw);
  line-height: 1.2;
  color: #fff;
}

.yellow-button {
  margin-right: 0.5rem;
  display: inline-block;
  color: #2f2f2f;
  border: 1px solid #f9bf29;
  border-width: 1px;
  background: #f9bf29;
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 30px;
  line-height: 1.5;
  text-decoration: none;
  font-size: 16px;
}

.hollow-button {
  display: inline-block;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.3);
  background: transparent;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 30px;
  border-radius: 30px;
  text-decoration: none;
}

.hero-buttons {
  margin-bottom: 1rem;
}

.hero-images {
  position: relative;
  padding-top: 3rem;
}

.hero-dots {
  width: 35%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.hero-couch {
  width: 90%;
  position: relative;
  z-index: 2;
  text-align: start;
  text-size-adjust: 100%;
  vertical-align: middle;
}

/* End of hero section */

/* Width 768+ px */

@media (min-width: 768px) {

  .navbar {
    display: flex;
  }

  .furni-brand {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .nav-collapse {
    display: flex!important;
    flex-basis: auto;
    flex-grow: 1;
    text-align: start;
    top: auto;
    right: auto;
  }

  .dropdown-menu {
    display: flex;
  }

  .active {
    text-decoration-color: #F9BF29;
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 12px;
  }

  .dropdown-menu li a:hover{
    text-decoration-color: #F9BF29;
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 12px;
  }

  .nav-toggler {
    display: none;
  }

  .container {
    max-width: 720px;
    margin-right: auto;
    margin-left: auto;
  }

  .dropdown-menu, .dropdown-icons {
    margin-bottom: 0;
  }

  .dropdown-menu {
    flex-direction: row;
    margin-left: auto;
  }

  .dropdown-menu li a {
    padding: 8px;
  }

  .dropdown-icons {
    margin-left: 40px;
  }

  .dropdown-icons li {
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 0;
  }

  .dropdown-icons li:first-child {
    margin-right: 20px;
  }

  .hero {
    padding-top: 162px;
    padding-bottom: 192px;
  }

}

@media (min-width: 1200px) {
  
  .container {
    max-width: 1140px;
  }

  .dropdown-menu li {
    margin-right: 15px;
    margin-left: 15px;
  }

  .second-hero-col {
    flex: 0 0 auto;
    width: 58.3333333%;
  }

 .hero-row {
  display: flex;
  flex-wrap: wrap;
 }

 .hero-intro {
  max-width: 450px;
 }

}